@import "notFound";

$base-content-height: 31rem;

.button-group {
  margin-bottom: 0rem;
}

.top-bar a {
  color: #ffffff;
}

#entitle {
  width: 24rem;
}

.menu li {
  padding-left: 0.25rem;
}

.row {
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 100%;
}

.small-6, .large-6 {
  padding: 0.1rem;
}

//editor 部分的布局
.editor-control {
  word-wrap: break-word;
  overflow-y: scroll;
  background-color: aliceblue;
  white-space : normal;
}

.editor-content {
  white-space:pre-wrap;
  white-space:-moz-pre-wrap;
  white-space:-o-pre-wrap;
  word-wrap:break-word;
  outline:none;
  min-height: $base-content-height+7rem; //测试
  height: $base-content-height+7rem;
}

//预览部分的布局
.preview-container {
  word-wrap: break-word;
  overflow-y: scroll;
  background-color: #f2f2f2;
}

.preview-content {
  min-height: $base-content-height+7rem; //测试
  height:  $base-content-height+7rem;
}
//渲染完成后的通用布局
@import "preview";
