@import "fsettings";
@import "{zurb:foundation-sites}/scss/foundation";
@include foundation-everything;

$base-content-height: 30rem;

.button-group {
  margin-bottom: 0rem;
}

.top-bar a {
  color: #ffffff;
}

.menu li {
  padding-left: 0.25rem;
}

.row {
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 100%;
}

.small-6, .large-6 {
  padding: 0.1rem;
}

//editor 部分的布局
.editor-control {
  overflow-y: scroll;
  background-color: aliceblue;
}

.editor-content {
  outline:none;
  min-height: $base-content-height; //测试
  height: $base-content-height;
  margin-top: -1.5rem;
}

//预览部分的布局
.preview-container {
  word-wrap: break-word;
  overflow-y: scroll;
  background-color: #f2f2f2;
}

.preview-content {
  min-height: $base-content-height+6rem; //测试
  height:  $base-content-height+6rem;
}
