<template name="blog_list">
    <div class="callout large primary">
        <div class="row column text-center">
            <h1></h1>
        </div>
    </div>
    <div class="row">
        <div class="medium-8 columns" id="blog_list">
            {{#each posts}}
                <div class="blog-post">
                    <h3>{{{title}}} <small>{{updateTime}}</small></h3>
                    {{{text}}}
                    <div class="callout">
                        <ul class="menu simple">
                            <li class="float-left"><a href="#">作者: {{userName}}</a></li>
                            <li class="float-left"><a href="#">评论: 3</a></li>
                            <li class="float-right"><a href="/blog/{{path}}">阅读全文</a></li>
                        </ul>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="medium-3 columns" data-sticky-container>
            <div id="sticky" data-sticky data-anchor="blog_list">
                {{> blog_sticky_list}}
            </div>
        </div>
    </div>
    <div class="row column">
        {{> blog_page}}
    </div>
</template>