<template name="blog_head">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">主页</li>
                <li class="menu-text">其他</li>
                <li class="menu-text">关于</li>
                <li>{{> loginButtons}}</li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <input type="search" placeholder="Search">
                </li>
                <li>
                    <button type="button" class="button">搜索文章</button>
                </li>
            </ul>
        </div>
    </div>
</template>