<template name="blog_page">
    {{#if page_count_small}}
        <ul class="pagination" role="navigation" aria-label="Pagination">
            {{#each page in page_show_small}}
                <li class={{page.li_class}}>
                    {{#if page.is_ellipsis}}
                        <span class={{page.span_class}}>
                            You're on page
                        </span>
                        {{#if page.is_a}}
                            <a class="page-click">{{page.value}}</a>
                        {{else}}
                            {{page.value}}
                        {{/if}}
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    {{/if}}
    {{#if page_count_mildle_normal}}
        <ul class="pagination" role="navigation" aria-label="Pagination">
            {{#each page in page_show_mildle_normal}}
                <li class={{page.li_class}}>
                    {{#if page.is_ellipsis}}
                        <span class={{page.span_class}}>
                            You're on page
                        </span>
                        {{#if page.is_a}}
                            <a class="page-click">{{page.value}}</a>
                        {{else}}
                            {{page.value}}
                        {{/if}}
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    {{/if}}
</template>