<template name="blog_list">
    <div class="callout large primary">
        <div class="row column text-center">
            <h1></h1>
        </div>
    </div>
    <div class="row">
        <div class="medium-8 columns" id="blog_list">
            {{#each posts}}
                <div class="blog-post">
                    <h3>{{title}} <small>{{updateTime}}</small></h3>
                    <!--<img class="thumbnail" src={{firstImg}}>-->
                    {{{text}}}
                    <div class="callout">
                        <ul class="menu simple">
                            <li class="float-left"><a href="#">作者: {{userName}}</a></li>
                            <li class="float-left"><a href="#">评论: 3</a></li>
                            <li class="float-right"><a href="/blog/{{id}}">阅读全文</a></li>
                        </ul>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="medium-3 columns" data-sticky-container>
            <div class="sticky" data-sticky data-anchor="blog_list">
                <h4>Categories</h4>
                <ul>
                    <li><a href="#">Skyler</a></li>
                    <li><a href="#">Jesse</a></li>
                    <li><a href="#">Mike</a></li>
                    <li><a href="#">Holly</a></li>
                </ul>
                <h4>Authors</h4>
                <ul>
                    <li><a href="#">Skyler</a></li>
                    <li><a href="#">Jesse</a></li>
                    <li><a href="#">Mike</a></li>
                    <li><a href="#">Holly</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row column">
        {{> blog_page}}
    </div>
</template>