<template name="blog_list">
    <div class="callout large primary">
        <div class="row column text-center">
            <h1></h1>
        </div>
    </div>
    <div class="row">
        <div class="medium-8 columns" id="blog_list">
            {{#each posts}}
                <div class="blog-post">
                    <h3>{{title}} <small>{{updateTime}}</small></h3>
                    {{{text}}}
                    <div class="callout">
                        <ul class="menu simple">
                            <li class="float-left"><a href="#">作者: {{userName}}</a></li>
                            <li class="float-left"><a href="#">评论: 3</a></li>
                            <li class="float-right"><a href="/blog/{{path}}">阅读全文</a></li>
                        </ul>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="medium-3 columns" data-sticky-container>
            <div class="sticky" data-sticky data-anchor="blog_list">
                <h4>类别</h4>
                <ul>
                    {{#each category in categories}}
                        <li><a href="/category/{{category.name}}">{{category.name}}</a></li>
                    {{/each}}
                </ul>
                <h4>作者</h4>
                <ul>
                    {{#each author in authors}}
                        <li><a href="/author/{{author.name}}">{{author.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="row column">
        {{> blog_page}}
    </div>
</template>