<template name="blog_head">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text"><span id="blog-home"><a>主页</a></span></li>
                <li class="menu-text"><span id="blog-editor"><a>编辑器</a></span></li>
                <li class="menu-text"><span id="blog-about"><a>关于</a></span></li>
                <li>{{> loginButtons}}</li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <input id="search-text" type="search" placeholder="Search">
                </li>
                <li>
                    <button type="button" class="button">搜索文章</button>
                </li>
            </ul>
        </div>
    </div>
</template>