<template name="blog_about">
    <div class="blog_head">
        {{> blog_head}}
    </div>
    <div class="callout large primary">
        <div class="row column text-center">
            <h1></h1>
        </div>
    </div>
    <div class="blog_about">
        <div class="base-content">
            <pre>
                <h5>关于作者：帝都码农一只，等要跳槽了，再更新。</h5>
                <h5>关于本站：期望是能更新十年的，见证自己成长的地方。</h5>
                <h5>写一些能被人看到的关于小故事、数学、英语、编程、见闻的东西。</h5>
            </pre>
        </div>
    </div>
    <div class="footer">
        {{> blog_footer}}
    </div>
</template>