<template name="head">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">feditor</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li>
                <div class="button-group">
                    <a class="button"><i class="fi-arrow-left"></i></a>
                    <a class="button"><i class="fi-monitor"></i></a>
                </div>
            </li>
            <li>
                <div class="button-group">
                    <a class="button"><i class="fi-bold"></i></a>
                    <a class="button"><i class="fi-italic"></i></a>
                </div>
            </li>
            <li>
                <div class="button-group">
                    <a class="button"><i class="fi-link"></i></a>
                    <a class="button"><i class="fi-quote"></i></a>
                    <a class="button"><i class="fi-book"></i></a>
                    <a class="button"><i class="fi-photo"></i></a>
                </div>
            </li>
            <li>
                <div class="button-group">
                    <a class="button"><i class="fi-list-bullet"></i></a>
                    <a class="button"><i class="fi-asterisk"></i></a>
                    <a class="button"><i class="fi-minus"></i></a>
                </div>
            </li>
        </ul>
    </div>
</template>